@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gray-50: #ffffff;
  --color-gray-100: #d9d9d9;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #ababab;
  --color-gray-400: #999999;
  --color-gray-500: #808080;
  --color-black-100: #61605e;
  --color-black-200: #474643;
  --color-black-300: #302f2d;
  --color-black-400: #262524;
  --color-black-500: #111111;
  --color-orange-100: #feeeea;
  --color-orange-200: #fed8d0;
  --color-orange-300: #fd947f;
  --color-orange-400: #f9502e;
  --color-orange-500: #e04829;
  --color-background-100: #fafafa;
  --color-background-200: #f7f7f7;
  --color-background-300: #efefef;
  --color-line-100: #f2f2f2;
  --color-line-200: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
